#booking-settings-form {
  .col {
    display: flex;
    align-items: center;
  }
}

#email-settings-form {
  textarea {
    font-family: monospace;
    height: max-content;
  }
}

.simulator-settings .simulator-settings-optexts {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

#deleteButtonColumn {
  display: flex;
  flex-direction: column;
}