@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

#logo {
  position: relative;
  width: 100%;
  height: 20vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#intro {
  margin-bottom: 2rem;
  #donateButton {
    width: 100%;
  }
}

#supportersBox {
  width: 100vw;
  padding-top: 1rem;

  #supportersText {
    margin-left: 2rem;
  }
}