@use "../../app/globals" as *;

$header-height: 56px;

.header-page-space {
  height: calc($header-height + 5px);
}

.header {
  gap: 1rem;
  background-color: $body-bg-dark;
  padding: 0 !important;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100vw;

  z-index: 100;
  filter: none;

  .navbar-brand {
    padding: 0 !important;
    margin-right: 8px !important;

    .logo {
      height: $header-height;
      padding: 4px;
    }
  }

  .navbar-collapse {
    margin-right: 1rem;
    margin-left: 1rem;
    > div {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .navbar-nav {
    gap: 0.5rem;

    .input-group {
      margin-bottom: 0 !important;
    }
  }

  .nav-link:not(.dropdown-toggle, .no-outline) {
    border: $primary solid 1px;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;
    padding-top: 0;
    padding-bottom: 0;
  }

  .btn-primary {
    background-color: $primary;
    color: black
  }

  .navbar-toggler {
    margin-right: 1rem;
    .navbar-toggler-icon {
      color: $text-color;
      background-image: url("/hamburger.svg")
    }
  }
}