@use "../../app/globals" as *;

.wrapper {
  overflow: hidden;
  width: 100%;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 100s linear infinite;
}

.item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 2rem;
  height: 150px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}